name: Update Velog Posts
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Fetch Velog RSS
        uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://v2.velog.io/rss/@god_gy0321"
          max_post_count: 5
          commit_message: "Update Velog posts"
